# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Back'
      'command': 'fwd-back:back'
    }
    {
      'label': 'Forward'
      'command': 'fwd-back:fwd'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'fwd-back'
      'submenu': [
        {
          'label': 'Back'
          'command': 'fwd-back:back'
        }
        {
          'label': 'Forward'
          'command': 'fwd-back:fwd'
        }
      ]
    ]
  }
]
